{% extends "base.html" %}

{% block content %}
<h1>My Bots</h1>
{% if bots %}
    {% for item in bots %}
        {% set bot = item.bot %}
        {% set final = item.final_stats %}

        <div style="border:1px solid gray; border-radius:6px; padding:10px; margin:10px;">
            <h3>{{ bot.name }} ({{ bot.algorithm }})</h3>
            <p>INT: {{ final.int }} | PROC: {{ final.proc }} | DEF: {{ final.def }} | CLK: {{ final.clk }}</p>
            <p>LOGIC: {{ final.logic }} | ENT: {{ final.ent }} | PWR: {{ final.pwr }}</p>
            <a href="{{ url_for('edit_bot', bot_id=bot.id) }}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{{ url_for('gear', bot_id=bot.id) }}" class="btn btn-secondary btn-sm">Gear</a>
            <a href="{{ url_for('bot_details', bot_id=bot.id) }}" class="btn btn-info btn-sm">Details</a>
            <a href="{{ url_for('delete_bot', bot_id=bot.id) }}" class="btn btn-danger btn-sm">Delete</a>

        </div>
    {% endfor %}
{% else %}
    <p>You have no bots yet.</p>
{% endif %}

{% endblock %}