{% extends "base.html" %}

{% block content %}
<h2>Battle History</h2>

{% if battles %}
    <table class="stats-comparison table table-bordered text-center mb-4">
        <thead>
            <tr>
                <th>Date</th>
                <th>Bots</th>
                <th>Winner</th>
                <th>Replay</th>
            </tr>
        </thead>
        <tbody>
            {% for h in battles %}
            <tr>
                <td class="battle-time" data-utc="{{ h.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">Loading ...</td>
                <td>Bot {{ h.bot1_name }} vs Bot {{ h.bot2_name }}</td>
                <td>{{ h.winner }}</td>
                <td>
                    <a href="{{ url_for('view_history', history_id=h.id) }}"
                    class="btn btn-sm btn-warning">
                    View
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
            No battles yet. <a href="{{ url_for('battle_select') }}">Start your first match!</a>
        </div>
{% endif %}
<a href="{{ url_for('dashboard') }}" class="btn">←Dashboard</a>
{% endblock %}

{% block scripts %}
<!-- Datetime -->
<script>
    function updateBattleTimes() {
        const timeElements = document.querySelectorAll('.battle-time');
        
        timeElements.forEach(function(element) {
            const utcString = element.getAttribute('data-utc');
            if (utcString) {
                const battleDate = new Date(utcString);
                
                element.textContent =
                    battleDate.toLocaleDateString("en-US") + " " +
                    battleDate.toLocaleTimeString("en-US", { hour12: false });
            }
        });
    }
    updateBattleTimes();
</script>
{% endblock %}